.brd{
    border-bottom: 1px solid ;
    margin:1rem;
}
*
{
    font-family:'Raleway', sans-serif;
}
.zoom:hover
{
    transform: scale(1.2);
  
}
.zoom{
    transition:500ms;
}

.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;  
}
.link{
    text-decoration:none;
    color: inherit;
}
.link:hover{
    color: inherit;
}
.link p
{
 padding-left:40px ;
}
.ver{
    border-left:1px solid;
    
}
.space{
    padding: 5px;
}
.end{
text-align: right;
    display: block;
    justify-content: right;
    align-items: right;
    margin: auto;
    width:90%;
}
.blk{
background-color:black;
color:white;
}
.zooml:hover {
    transform: scale(1.07);

}

.zooml {
    transition: 500ms;
}

.ad {
    text-decoration: none;
    font-style: inherit;
    color: inherit;
}

.ad:hover {
    text-decoration: none;
    font-style: inherit;
    color: inherit;
}

/*innermostpage*/
.zoomout:hover{
    transform:scale(0.80);
}
.zoomout{
transition:500ms;
}
.zoomout img{
    border-radius: 2rem;
}
.container {
    width:50%;
}
.container video{
    width:100%;
    border-radius: 2rem;
    filter:  brightness(0.75);
}
.container Button{
    transform: translate(800%, -300%);
    padding: 10px 24px;
    border-radius: 50px;
    border:0px;
    font-size:20px;
}
.container h1 {
position:absolute;
    transform: translate(200%, -600%);
    color:white;
}
.container p {
    position: absolute;
   transform:translate(100%,-400%);
    color: white;
    font-size: 12px;
}
::selection {
    background:#F5CBA7 ;
}
.container-home{
    padding:25px
}
.container-home video{
        width: 50%;
        border-radius: 2rem;
        filter: brightness(0.75);
}
body{
    padding:10px
}
.btn-1{
    position: absolute;
        transform: translate(10%, 100%);
        padding: 10px 24px;
        margin-left: 40px;
        width: 40%;
        
}
.profile-container{
       text-align:center;
       margin-left:25%;
    transition: 500ms;
       color:white;
       margin-right: 25%;
        backdrop-filter: blur(3px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
        border-radius: 25px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        z-index: 4;

}
.signup-container ::placeholder{
    color:black;

}
.profile-container input{
        height: 56px;
            width: 50%;
            position: relative;
            padding: 0px 16px;
    transition: 500ms;
            border: none;
            background-color: transparent;
            border-radius: 4px;
            line-height: normal;
            outline: none;
            box-shadow: 2px 8px 8px 0px rgb(0, 0, 0, 0.60);
            margin: 10px;    
}
.profile-container ::placeholder{
    color:black;
}
.signup-container{
      text-align: center;     
      margin-left: 25%;
      margin-right:25%;
    transition: 500ms;
    backdrop-filter: blur(2px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
    border-radius: 25px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        z-index: 4;
        transition: 500ms;
}
.signup-container :hover{
    transform: scale(1.05);
    transition: 500ms;
}
.login-container  :hover {
    transform: scale(1.07);
    transition: 500ms;
}
.profile-container :hover {
    transform: scale(1.07);
    transition: 500ms;
}
.signup-container input{
    height: 56px;
    width:50%;
    transition: 500ms;
        position: relative;
        padding: 0px 16px;
        border: none;
        background-color: transparent;
        border-radius: 4px;
        line-height: normal;
        outline: none;
        box-shadow: 2px 8px 8px 0px rgb(0, 0, 0,0.60);
        margin: 10px;
}
.signup-container select {
    height: 56px;
    width: 50%;
    transition: 500ms;
    position: relative;
    padding: 0px 16px;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    line-height: normal;
    outline: none;
    box-shadow: 2px 8px 8px 0px rgb(0, 0, 0, 0.60);
    margin: 10px;
}
.login-container {
    text-align: center;
    color:white;
    margin-left: 25%;
    transition: 500ms;
    margin-right: 25%;
    backdrop-filter: blur(2px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 4;

}
.login-container input {
    height: 56px;
    width: 50%;
    color: white;
    position: relative;
    transition: 500ms;
    padding: 0px 16px;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    line-height: normal;
    outline: none;
    box-shadow: 2px 8px 8px 0px rgb(0, 0, 0, 0.60);
    margin: 10px;
}

.login-container ::placeholder{
    color:white
}